<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li><a href="http://staff.newportbeachca.gov/NBID/" style="color:#ffffff">NBID</a></li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color:#ffffff">
                            <span class="glyphicon glyphicon-user"></span> @ViewBag.name
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li><hr /></li>
                            @if (User.IsInRole("ADMIN"))
                            {
                                <li><a href="http://staff.newportbeachca.gov/CNB_Admin">CNB_Admin</a></li>
                            }
                            <li>@Html.ActionLink("Log Off", "LogOff", "Account")</li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
    <hr />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="font-size:large">
            &copy; 2018 - IT Applications
            <span class="glyphicon glyphicon-flash"></span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
